/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  
  .pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #pagination {
    display: flex;
    gap: 5px;
  }

  #paginationContainer{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .paginationLink, #paginationLinkPrev , #paginationLinkNext{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
    width: 45px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #dee2e6;
    color: #d5d5d5;
  }
  
  #paginationLinkPrev{
    border-radius: 6px 0 0 6px;
  }

  #paginationLinkNext{
    border-radius: 0 6px 6px 0;
  }
  
  .paginationLink:hover, #paginationLinkPrev:hover, #paginationLinkNext:hover{
    background-color: #89bc25;
    color: #fff;
  }

  .activePagination{
    border-color: #89bc25;
    color: #89bc25;
  }

  #searchPage{
    height: 45px;
    width: 45px;
  }
  