/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  
  .pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #pagination {
    display: flex;
    margin-top: 10px;
  }
  
  #pagination a, #pagination span {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  #pagination a.active {
    background-color: #e5c78a;
  }

  #searchPage{
    height: 30px;
    width: 30px;
  }
  